.blog-container {

  margin-top: 50px;

  .blog_image {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }

}

.blog {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #2D2D2D;
  box-shadow: 1px 1px 10px -4px #000;

}

.author-name {
  color: $green;
}

#form-hidden {
  display: none;
}

@media only screen and (max-width: 600px) {

  .blog-container {
    margin-left: 0px !important;
    margin-top: 0px !important;
  }

}
