.swal2-modal {
  background-color: #101010 !important;

  .swal2-title {
    color: #fff !important;
  }

  .swal2-content {
    color: #fff !important;
  }

  a {
    text-decoration: none !important;
  }
}

