.assignments-container {

  margin-top: 50px;

  .left-side {
    height: 300px;
    float: left;
    width: 70%;
    max-height: 300px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    position: relative;


  }

  .right-side {
    height: 300px;
    float: right;
    width: 30%;
    max-height: 300px;

  }

  .assignment_image {
    max-height: 300px;
    float: right;
  }

  .bpos {
    position: absolute;
    bottom: 0px;
    left: 10px;
  }

}

.assignment {
  height: 300px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #424242;
  border-radius: 5px;
}



