.blog-container {

  margin-top: 50px;

  .blog_image {
    width: 100px;
    height: auto;
    border-radius: 5px;
  }

}

.blog {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  background-color: #424242;
  border-radius: 5px;
}

.author-name {
  color: $green;
}
