.assignments-table {

  border-radius: 5px;
  border-style: 1px solid #ffffff;


  .table-head {


    th {
      font-size: 18px;
      font-style: bold;
      background-color: #311B92;
    }
  }


  .td-spacing {
    padding-left: 10px;
    padding-right: 10px;
  }
}