body {
  background-color: #212121 !important;
  color: #fff !important;
  text-decoration: none;
}

.card-header {
  background-color: #212121 !important;
}

.card-body {
  background-color: #424242;
}